body{
    margin: 0;
    background-image: url(./pic/bgp.jpg);
}
.nav{
background-color: rgb(14, 13, 13);
padding: 15px;
}

.nav a{
    color: white;
    float: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.nav a:hover{
    background-color: rgb(253, 38, 38);
}
.nav-right{
    float: right;
}
.home h2{
    color: rgb(255, 9, 9);
    text-align: center;

}
td img{
    margin-left: 100px;
}
td{
    color: white;
    text-align: center;
}