body{
    background-image: url(./pic/bg.webp);
}
.center{
    text-align: center;
}
h1{
    background-image: radial-gradient(white,rgb(160, 132, 132));
}
h2{
    color: blue;
}
.about p{
    text-align: center;
}
a{
    text-decoration: none;
    color: red;
    text-align: center;
    font-size: 18px;
}
a:hover{
    cursor: pointer;
}